<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>Sudoku Solver</title>
        <!-- Import Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container text-center">            
            <div class="col-12 mx-auto mt-5">
                <div class="px-4 py-5 my-5 text-center">
                        <header>
                            <div class="text-center">
                                <h1 class="display-5 fw-bold text-body-emphasis">SUDOKU SOLVER</h1>
                            </div>
                        </header>
                        <main>
                            <div class="col-lg-8 mx-auto">
                                <p class="fs-5 mb-4">Upload an image of the Sudoku that you want to be solved!</p>
                                <form action="/" method="post" enctype="multipart/form-data">
                                    <!-- Include CSRF token -->
                                    {{ form.hidden_tag() }}
                                    <!-- Handle error -->
                                    {% for error in form.photo.errors %}
                                    <span style="color: red;">{{ error }}</span>
                                    {% endfor %}
                                    
                                    <div class="row justify-content-center">
                                        <div class="col-auto">
                                            {{ form.photo(class="form-control form-control-sm mt-2") }}
                                        </div>
                                        <div class="col-auto">
                                            {{ form.submit(class="btn btn-outline-info btn-sm px-4 me-sm-3 fw-bold mt-2") }}
                                        </div>                                
                                    </div>
                                </form>
                            </div>
                        </div>
                            
                            
                        <!-- Display original image -->
                        {% if file_url %}                        
                        <div class="mt-5">
                            <h3 class="display-6 text-body-emphasis">Original Image</h3>
                            <img src="{{ file_url }}" style="width: 350px;">                        
                        </div>
                        <div class="mt-5">
                            <h3 class="display-6 text-body-emphasis">Solved Sudoku</h3>
                            <img src="{{ images[3] }}" style="width: 350px;">                        
                        </div>
                        <div class="row align-items-center mt-5 mb-5">
                            <h2 class="display-6 text-body-emphasis">Process</h2>
                            <div class="col mt-5">
                                <img src="{{ images[0] }}" style="height: 350px;">
                                <h6 class="mt-2">Preprocess the image for better detection</h6>
                            </div>
                            <div class="col mt-5">
                                <img src="{{ images[1] }}" style="width: 350px;">
                                <h6 class="mt-2">Cut the image and get the grid</h6>
                            </div>
                            <div class="col mt-5">
                                <img src="{{ images[2] }}" style="width: 350px;">
                                <h6 class="mt-2">Detect the numbers and create 9x9 sudoku grid</h6>
                            </div>
                            
                        </div>
                        {% endif %}
                    </main>
                    
                </div>

        </div>
    </body>
</html>